/* sweet alert */

.colored-toast.swal2-icon-success {
    background-color: #28a745 !important;
    color: #fff;
    width: 200px;
}

.colored-toast.swal2-icon-error {
    background-color: #dc3545 !important;
    color: #fff;
    width: 200px;
}

.swal2-popup.swal2-toast {
    padding: 10px !important;
}

.swal2-popup.swal2-toast .swal2-title {
    font-size: 16px !important;
    font-weight: 400;
}

/* sweet alert */

#about .about-main-area {
    margin-bottom: 0px !important;
}

.icon-box {
    padding-bottom: 30px;
}

.icon-box p {
    margin-top: 20px;
}

.para {
    margin-bottom: 30px;
}

@media(max-width: 768px) {
    .menuzord-brand h1 {
        font-size: 20px;
        margin-top: 10px;
    }
}

.bg-custom1{
    background: #ffffff85;
    color: black !important;
}